.container-2 body, 
.container-2 html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.container-2 .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centramos verticalmente */
  align-items: flex-end; /* Alineamos a la derecha */
  height: 100vh;
  padding-right: 20px;
}

.container-2 .content {
  flex: 1;
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
}

.container-2 .stat-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.container-2 .stat-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
  max-width: 800px;
  margin-left: auto; /* Alineamos a la derecha */
  margin-right: 0; /* Aseguramos que no haya margen a la derecha */
}

.container-2 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 120px;
  margin-left: auto; /* Alineamos a la derecha */
}
.container-2 .card .icon {
  display: flex;
  align-items: center;
  justify-content: center; /* Centramos el contenido */
  width: 100%;
  margin-bottom: 10px;
}

.container-2 .card .icon .imagen {
  width: 40px;
  height: 40px;
}

.container-2 .card .info {
  text-align: center;
  width: 100%;
}

.container-2 .card .info h3 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #515184;
}

.container-2 .card .info p {
  font-size: 1rem;
  font-weight: bold;
  color: #121158;
}