

.totalCasesContainer{
    background-color: beige;
    width:260px;
    height: 120px;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 15px 30px 0 rgba(20, 50, 90, 0.05);
    border-radius: 2px;
}
.totalCasesText{
    margin:10px;
}
.cardIconImg{
    width:100px;
    
}
.cardICon{
    opacity: 0.4;
}
