.slide-card-home {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: aliceblue;
}

.section-title {
    text-align: center; /* Centra el texto horizontalmente */
}

.section-title h5 {
    animation: fadeIn 1s;
    animation-delay: 0s;
    color: #515184; /* Color para el h5 (ejemplo: Tomato) */
}

.section-title h2 {
    animation: fadeIn 1s;
    animation-delay: 0.5s;
    color: #515184; /* Color para el h2 (ejemplo: SteelBlue) */
}

.row {
    display: flex; /* Usar flexbox para alinear los elementos en fila */
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    flex-wrap: nowrap; /* No permitir que las tarjetas se envuelvan en múltiples líneas */
    gap: 0.1rem; /* Reducir el espacio entre las tarjetas */
}

.slide-card-home-content {
    flex: 0 0 30%; /* Hacer que cada tarjeta ocupe el 30% del ancho del contenedor */
    max-width: 30%; /* Asegurarse de que cada tarjeta no exceda el 30% del ancho del contenedor */
    padding: 2rem; /* Reducir el relleno para hacer las tarjetas más pequeñas */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0.2rem; /* Reducir el margen para acercar las tarjetas */
}

.slide-card-home-content img {
    max-width: 80px; /* Ajustar el tamaño de la imagen */
    margin-bottom: 0.5rem; /* Ajustar el margen inferior */
}

.slide-card-home-content h4 {
    font-size: 1.2rem; /* Ajustar el tamaño de la fuente */
    margin-bottom: 0.5rem; /* Ajustar el margen inferior */
}

.slide-card-home-content p {
    font-size: 0.9rem; /* Ajustar el tamaño de la fuente */
    color: #666;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}