.App {
    text-align: center;
  }
  
  .country-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .flag {
    width: 100px;
    margin-right: 20px;
  }
  
  .data {
    text-align: left;
  }
  
  .cases {
    color: #ff0000;
  }
  
  .stats {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffcc00;
  }
  
  .stat:nth-child(2) {
    background-color: #00cc66;
  }
  
  .stat-number {
    color: white;
  }